<h1>Edit Picture # <%= @picture.id %></h1>

<%= form_tag(picture_url(@picture.id), :method => "patch") do %>

  <div>
    <%= label_tag :caption, "Caption:" %>
    <%= text_field_tag :caption, @picture.caption %>
  </div>
  
  <div>
    <%= label_tag :source, "Image URL:" %>
    <%= text_field_tag :source, @picture.source %>
  </div>
  
  <div>
    <%= submit_tag "Update Picture" %>
  </div>
<% end %>

<img src="<%= @picture.source %>">


<!-- #Problem - Cant get the edited input to update on the update page.  How to pull that new value through? Something to d owith the controller...-->  